* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    //background-color: #FAFAFF;
    background-color: #F5F5F5;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.App {
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}